

.card-comp {
    height: 200px;
    width: 340px;
    margin: 10px;
    background-color: #c1bbb3;
    border-radius: 8px;
    /* transform: translate(0px, -100px); */
}

.bankOpt{
    background-color: azure;
}

.bitcoin {
    background-color: #FFAE34;
}

.ninja {
    background-color: #222222;
}

.blockchain {
    background-color: #8B58F9;
}

.evil {
    background-color: #F33355;
}

.card-comp__img {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-top: 1rem;
}

.card-comp__numbers {
    margin: 0%;
}

.card-comp__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -1rem;
}

.card-comp__label__text {
    font-size: 8px;
}

.card-comp__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.card-comp__label__h2 {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}